body{
    background-color: rgba(0, 0, 0, 0.5);
}

.monkey{
    height: 500px;
    width: 500px;
    margin-bottom: 20px;
}
.monkey1{
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}
.monkey2{
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}
.monkey3{
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}